<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460586007992-1k76o19qsfbk224cb5halevfjn1jeu47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460586007992-1k76o19qsfbk224cb5halevfjn1jeu47</string>
	<key>API_KEY</key>
	<string>AIzaSyCN7CZY7rsHM78RjQ2Nv7TnVHsXBnqlQ5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>460586007992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoonzy.Drinkr-</string>
	<key>PROJECT_ID</key>
	<string>drinkr-f443d</string>
	<key>STORAGE_BUCKET</key>
	<string>drinkr-f443d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460586007992:ios:ed4c6c70369a814a4a634d</string>
</dict>
</plist>